{% extends 'content_base.html.twig' %}

{% block title %}Manage Category{% endblock %}

{% block content_class %}
    {{ parent() }}
    shadow
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Category</h1>

            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           placeholder="Search..."
                           value="{{ app.request.query.get('q') }}"
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>author</th>
                    <th>Content</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <a href="">
                                {{ category.title }}
                            </a>
                        </td>
                        <td>
                            {{ category.author.firstName }}
                        </td>
                        <td style="width: 20%">
                            {{ category.content|truncate }}
                        </td>
                        <td>
                            {{ category.createdAt|time_diff }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No articles found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
