{{ form_start(articleForm) }}

<div class="form-group">
    {{ form_row(articleForm.title) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.imageFiles, {
        attr: {
            'placeholder': 'Select an image'
        }
    }) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.content) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.category) }}
</div>