{% extends 'base.html.twig' %}



{% block title %}Read: {{ article.title }}{% endblock %}

{% block body %}
    <div>
        <!-- Article images -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset(article.imagePath) }}" alt="">
                </div>
            </div>
        </div>
        <!-- Article content -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 p-3">
                    <h3>{{ article.title }} <small class="text-info"> by {{ article.user.username }}</small></h3>

                    <p>{{ article.content }}</p>
                    <p class="mb-3">
                        <span class="pr-1">Share:</span>
                        <i class="pr-1 fab fa-facebook-square"></i>
                        <i class="pr-1 fab fa-twitter-square"></i>
                        <i class="fab fa-instagram"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <button class="btn btn-outline-dark btn-sm">{{ article.publishedAt? article.publishedAt|time_diff : 'unpublished' }}</button>
                    <button class="btn btn-outline-dark btn-sm">Category: <span class="text-primary">{{ article.category.title }}</span></button>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4><i class="pr-3 fa fa-comment"></i>{{ article.nonDeletedComments|length }} Comments</h4>
                <hr>
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
                        <div class="comment-container d-inline-block pl-3 align-top">
                            <span class="commenter-name">Amy Oort</span>
                            <div class="form-group">
                                <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Comment</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for comment in article.nonDeletedComments %}
                        <div class="col-sm-12">
                            <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
                            <div class="comment-container d-inline-block pl-3 align-top">
                                <span class="commenter-name">{{ comment.user.username }}</span>
                                <small>{{ comment.createdAt|time_diff }}</small>
                                {% if comment.isDeleted %}
                                    <i class="fas fa-times"></i> deleted
                                {% endif %}
                                <br>
                                <span class="comment"> {{ comment.content }}</span>
                                <p><a href="#">Reply</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
