{% extends 'base.html.twig' %}



{% block title %}Read: {{ article.title }}{% endblock %}

{% block body %}
    <!-- Article detaile -->
    <section>
        <div class="jumbotron jumbotron-fluid">
            <img src="{{ asset(article.imagePath) }}" alt="">
            <div class="container">
                <h1>{{ article.title }}</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <p>{{ article.content }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="share-icons mb-5"><span class="pr-1">Share:</span> <i class="pr-1 fab fa-facebook-square"></i></i><i class="pr-1 fab fa-twitter-square"></i><i class="fab fa-instagram"></i></p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 p-3 bg-info">
                <span class="mr-2">{{ article.publishedAt? article.publishedAt|time_diff : 'unpublished' }}</span>
                <span class="mr-2">{{ article.author }}</span>
                <span>{{ article.category.categoryName }}</span>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h3><i class="pr-3 fa fa-comment"></i>{{ article.nonDeletedComments|length }} Comments</h3>
                <hr>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
                        <div class="comment-container d-inline-block pl-3 align-top">
                            <span class="commenter-name">Amy Oort</span>
                            <div class="form-group">
                                <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Comment</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for comment in article.nonDeletedComments %}
                        <div class="col-sm-12">
                            <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
                            <div class="comment-container d-inline-block pl-3 align-top">
                                <span class="commenter-name">{{ comment.authorName }}</span>
                                <small>{{ comment.createdAt|time_diff }}</small>
                                {% if comment.isDeleted %}
                                    <i class="fas fa-times"></i> deleted
                                {% endif %}
                                <br>
                                <span class="comment"> {{ comment.content }}</span>
                                <p><a href="#">Reply</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
